*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0, 0.6),rgba(0,0,0, 0.6)), url(./images/hotel.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.navbar{
    height: 10%;
    display: flex;
    align-items: center;
}

.logo{
    width: 70px;
    color: #fff;
    cursor: pointer;
}

.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
    padding-top: 0.5%;
}

.column{
    flex-basis: 50%;    
}

h1{
    color: #fff;
    font-size: 75px;
}

p{
    color: #fff;
    font-size: 10px;
    line-height: 15px;
}

button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

.card{
    width: 230px;
    height: 240px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;

}

.card1{
    background-image: url(./images/dish.jpg);
}

.card2{
    background-image: url(./images/hall.jpg);
}

.card3{
    background-image: url(./images/fix.jpg);
}

.card4{
    background-image: url(./images/talk.jpg);
}

.card:hover{
    transform: translateY(-10px)
}

h5{
    color: #fff;
    text-shadow: 0 0 5px gray;
}

.card p{
    text-shadow: 0 0 5px #999;
    font-size: 10px;
    text-transform: capitalize;
}

.card h5{
    font-size: 25px;
    text-align: justify;
    text-transform: capitalize;
}

.menu-icon:hover{
    transform: translateY(2px)
}

li:hover{
    transform: translateY(2px);
}

button:hover{
    transform: translateY(-3px)
}